@media min-width:768px {
  .bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png');
    background-size: cover;
    min-height: 100vh;
  }
}
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
  padding: 100px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.heading {
  font-family: 'Roboto';
  font-size: 52px;
  font-weight: bold;
  color: #333333;
}
.inner-card {
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  width: 250px;
  border-radius: 8px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.timer-image {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}
.title {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}
.timing {
  font-family: 'Roboto';
  font-size: 42px;
  font-weight: bold;
  color: #333333;
}
.btn-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.btn {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  padding: 10px;
  border-radius: 6px;
  border: none;
  margin-right: 12px;
  cursor: pointer;
  outline: none;
}
.btn-green {
  background-color: #1db05f;
}
.btn-red {
  background-color: #ef0d36;
}
.btn-reset {
  background-color: #eaa800;
}
